extends layout 

block content 
    .row.page-header
        .col-lg-12
            h1 Starbucks 
    .row
        .col-xs-12.col-md-12 
            .row
                .col-xs-12.col-sm-6 
                    p.rating
                        span.glyphicon.glyphicon-star 
                        span.glyphicon.glyphicon-star 
                        span.glyphicon.glyphicon-star 
                        span.glyphicon.glyphicon-star 
                        span.glyphicon.glyphicon-star-empty 
                    p Centrum garden avm 
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Açılış Saatleri
                        .panel-body
                            p 
                                | pazartesi-cuma 7:00-23:00
                            p 
                                | cumartesi-pazar : 9:00-22:00
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Neler var ?

                        .panel-body
                            span.label.label-warning Dünya kahveleri 
                            |   &nbsp;
                            span.label.label-warning Kekler 
                            |   &nbsp;
                            span.label.label-warning Pastalar
                            |   &nbsp;
                .col-xs-12.col-sm-6 
                    .panel.panel-primary 
                        .panel-heading
                            h2.panel-title konum bilgisi 
                        .panel-body 
                            -var enlem=37.78
                            -var boylam=30.56
                            img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHG0ZEciJpAdxC9v_tWHagnE')
    .row 
        .col-xs-12 
            .panel.panel-primary 
                .panel-heading 
                    a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle 
                    h2.panel-title müsteri yorumları
                .panel-body.review-container 
                    .row 
                        .review 
                            .well.well-sm.review-header 
                                span.rating 
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty 
                                span.review-author Rıza ER 
                                small.reviewTimestamp &nbsp; 13 Ekim 2022
                            .col-xs-12 
                                p Kahveler güzel 


